@model Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h2>Are u sure deleting this ?</h2>

<h3>@Model.Name</h3>
<h3>@Model.Salary</h3>

<form method="post" action="/Employee/ConfirmDelete/@Model.Id">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <input type="submit" value="Delete" class="btn btn-danger"/>
</form>
<a href="/Employee/Index">back to list</a>