
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ecf2ff;
}

.parent{
    display: flex;
    height: 100vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}


@font-face {
    font-family: 'MyCustomFont';
    src: url('../results-summary-component-main/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}  

/* Start Father's section */

.father-section{
    width: 45%;
    background-color: #fff;
    border-radius: 25px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 50px 0 #a3aae1;
    opacity: 100%;
    transition: all 20s;
}

/* End Father's section */

/* Start left section */

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 25px;
    background: linear-gradient(to bottom, #6948fd, #332ced);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    opacity: 100%;
    transition: all 2s;
}

.left-section .text-result{
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'MyCustomFont', sans-serif;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
}

.left-section .cycle{
    height: 180px;
    background: linear-gradient(to bottom, #4d22c7, #4835f1);
    width: 180px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 2s;
}

.left-section .cycle:hover{
    box-shadow: 20px 20px 50px 0 #fff;
    transition: all 10s;
}

.left-section .cycle h3{
    color: #fff;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 60PX;
    font-weight: 900;
}

.left-section .cycle p{
    font-family: 'MyCustomFont', sans-serif;
    color: rgba(255, 255, 255, 0.3);
    font-size: 15px;
    font-weight: 400;
}

.left-section h2{
    color: #fff;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 25px;
    transition: all 2s;
}

.left-section .text{
    color: rgba(255, 255, 255, 0.6);
    width: 60%;
    text-align: center;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 15px;
    font-weight: 200;
    height: 50px;
    margin-bottom: 20px;
}

/* End left section */

/* Start right section */

.right-section{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right-section h2{
    font-family: 'MyCustomFont', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin-right: auto;
    margin-left: 8%;
    transition: all 2s;
}

.father-summary{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 50%;
    justify-content: space-between;
    font-family: 'MyCustomFont', sans-serif;
    transition: all 2s;
}

.right-section img{
    margin: 0 2%;
}

.right-section h3:nth-of-type(1){
    margin: 0 40% 0 4%;
}

.right-section h3:nth-of-type(2){
    margin: 0 2% 0 auto;
}

.right-section span{
    color: rgba(0, 0, 0, 0.35);
}

.right-section .first-div, .right-section .second-div, .right-section .third-div, .right-section .forth-div{
    display: flex;
    width: 80%;
    justify-content: center; 
    align-items: center;
    background-color: #f00;
    border-radius: 11px;
    height: 20%;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 80%;
    font-weight: 900;
    padding: 0 10px;
}

.right-section .first-div:hover, .right-section .second-div:hover, .right-section .third-div:hover, .right-section .forth-div:hover{
    width: 85%;
    height: 22%;
    transition: all 1s;
    cursor: pointer;
}

/* Start first div */
.right-section .first-div{
    background-color: #fff6f7;
}

.right-section .first-div h3:nth-of-type(1){
    color: rgba(255, 0, 0, 0.55);
}
/* End first div */

/* Start Second div */
.right-section .second-div{
    background-color: #fffaf4;
}

.right-section .second-div h3:nth-of-type(1){
    color: rgba(255, 165, 0, 0.6);
}
/* End Second div */

/* Start third section */
.right-section .third-div{
    background-color: #f2fdf9;
}

.right-section .third-div h3:nth-of-type(1){
    color: #4acfad;
}
/* End third section */

/* Start forth section */
.right-section .forth-div{
    background-color: #f4f4fe;
}

.right-section .forth-div h3:nth-of-type(1){
    color: #263292;
}
/* End forth section */

.right-section button{
    width: 80%;
    border: none;
    height: 10%;
    background-color: #303b59;
    border-radius: 100px;
    font-family: 'MyCustomFont', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 2s;
}

.right-section button:hover{
    box-shadow: 5px 5px 10px 0 #263292;
    cursor: pointer;
    transition: all 0.4s;
    width: 83%;
}

/* End right section */
